[branch]
  sort = -committerdate
[color]
	ui = true
[core]
	excludesfile = ~/.config/git/.gitignore-global
[diff]
  colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
[init]
	defaultbranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[tag]
  sort = version:refname
# Enforce SSH instead of HTTPS
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[user]
  name = <user>
  email = <email>
